/* overall html style */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/* Unordered list style for the navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #27342E;
}

/* Navbar list style */
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Navbar hover control */
li a:hover {
  background-color: #111;
}

/* Initialize images for the parallax effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Image references for the parallax effect */
.bgimg-1 {
  background-image: url("img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("img_parallax4.jpg");
  min-height: 200px;
}

.bgimg-5 {
  background-image: url("img_parallax5.jpg");
  min-height: 200px;
}

.bgimg-6 {
  background-image: url("img_parallax6.jpg");
  min-height: 200px;
}

.bgimg-7 {
  background-image: url("img_parallax7.jpg");
  min-height: 200px;
}

/* Caption bar + attributes */
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

/* Bar text attribute 1 */
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* Bar text attribute 2 */
.caption sub-span.border {
  background-color: #696969;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* Initialize the attributes for the heading styles */
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #ddd;
}

h2 {
  letter-spacing: 5px;
  font: 15px "Lato", sans-serif;
  color: #ddd;
  padding: 22px;
  line-height: 30px;
}

/* change the color of the a tag to change link color */
a {
  color: chocolate;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
